.App {
  text-align: center;
  width: 100%;
  display: flex;

  > .preview {
    position: relative;
    flex: 1;

    #content {
      text-align: left;
    }

  }

  > .controls {
    text-align: left;
    padding: 25px;
    width: 400px;
    border: 1px solid black;
    margin-right: 40px;
    font-size: 18px;

    > div {
      padding: 15px 0;
    }
  }

  > .highlight-frame {
    position: absolute;
    border: 3px dashed red;
    transition: top .15s ease-in-out, height .2s ease-in-out;
    pointer-events: none;
  }
}
